{% extends '__base__.html' %}

{% block title %}编辑时光{% endblock %}

{% block beforehead %}

<style>
</style>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/upload.js"></script>

<script>

var
    ID = '{{ id }}',
    action = '{{ action }}',
    fileList = '';
function initVM(times) {
    var vm = new Vue({
        el: '#vm',
        data: times,
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                this.album_url = fileList;
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/manage/time');
                    }
                });
            }
        }
    });
    $('#vm').show();
}

$(function () {
    if (ID) {
        getJSON('/api/time/' + ID, function (err, times) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(times);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            introduction: '',
            weather: '',
            album_url: ''
        });
    }
});
</script>

<script type="text/javascript">
    window.onload=function () {
        var dragImgUpload = new DragImgUpload("#drop_area",{
            callback:function (files) {
                //回调函数，可以传递给后台等等
                var file = files[0];
                console.log(file.name);
            }
        })
    }
</script>
{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/time">时光</a></li>
                <li><a href="/manage/envelope">寄语</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-2-3">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">简介:</label>
                <div class="uk-form-controls">
                    <input v-model="introduction" name="name" type="text" placeholder="简介" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">天气:</label>
                <div class="uk-form-controls">
                    <textarea v-model="weather" rows="4" name="summary" placeholder="天气" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">时光片段:</label>
                <div class="uk-form-controls">
                    <div id="drop_area"></div>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/manage/time" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{% endblock %}
